<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.RuiLing.TMS.mapper.TEnteringFactoryApplyMapper">
  <resultMap id="BaseResultMap" type="com.RuiLing.TMS.entity.TEnteringFactoryApply">
    <!--@mbg.generated-->
    <!--@Table T_ENTERING_FACTORY_APPLY-->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NO" jdbcType="VARCHAR" property="no" />
    <result column="STATU" jdbcType="VARCHAR" property="statu" />
    <result column="REC_CREATE_TIME" jdbcType="TIMESTAMP" property="recCreateTime" />
    <result column="REC_CREATOR" jdbcType="VARCHAR" property="recCreator" />
    <result column="REC_REVISOR" jdbcType="VARCHAR" property="recRevisor" />
    <result column="REC_REVISOR_TIME" jdbcType="TIMESTAMP" property="recRevisorTime" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="TRANSFER_TYPE_CODE" jdbcType="DECIMAL" property="transferTypeCode" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="TARGET_PORT" jdbcType="VARCHAR" property="targetPort" />
    <result column="CURRENT_POSITION" jdbcType="VARCHAR" property="currentPosition" />
    <result column="CAR_NO" jdbcType="VARCHAR" property="carNo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID as "id", "NO" as "no", STATU as "statu", REC_CREATE_TIME as "recCreateTime", REC_CREATOR as "recCreator",  REC_REVISOR as "recRevisor", REC_REVISOR_TIME as "recRevisorTime", VERSION as "version",
    TRANSFER_TYPE_CODE  as "transferTypeCode",decode(TRANSFER_TYPE_CODE, 21, '汽运', 22, '铁运',23,'水运','')   as "transferTypeDesc", TO_CHAR(START_TIME,'yyyy-MM-dd') as "startTime", TARGET_PORT as "targetPort", CURRENT_POSITION as "currentPosition", CAR_NO as "carNo"
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from T_ENTERING_FACTORY_APPLY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    <!--@mbg.generated-->
    delete from T_ENTERING_FACTORY_APPLY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="  deleteApplyMsg">
    DELETE FROM T_PACKINGMATINFO_CONFIG
    WHERE ID IN
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id,jdbcType=BIGINT}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.RuiLing.TMS.entity.TEnteringFactoryApply">
    <!--@mbg.generated-->
    insert into T_ENTERING_FACTORY_APPLY (ID, "NO", STATU, 
      REC_CREATE_TIME, REC_CREATOR, REC_REVISOR, 
      REC_REVISOR_TIME, VERSION, TRANSFER_TYPE_CODE, 
      START_TIME, TARGET_PORT, CURRENT_POSITION, 
      CAR_NO)
    values (#{id,jdbcType=DECIMAL}, #{no,jdbcType=VARCHAR}, #{statu,jdbcType=VARCHAR}, 
      #{recCreateTime,jdbcType=TIMESTAMP}, #{recCreator,jdbcType=VARCHAR}, #{recRevisor,jdbcType=VARCHAR}, 
      #{recRevisorTime,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}, #{transferTypeCode,jdbcType=DECIMAL}, 
      #{startTime,jdbcType=TIMESTAMP}, #{targetPort,jdbcType=VARCHAR}, #{currentPosition,jdbcType=VARCHAR}, 
      #{carNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.RuiLing.TMS.entity.TEnteringFactoryApply">
    <!--@mbg.generated-->
    insert into T_ENTERING_FACTORY_APPLY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="no != null">
        "NO",
      </if>
      <if test="statu != null">
        STATU,
      </if>
        REC_CREATE_TIME,
        REC_CREATOR,
      <if test="recRevisor != null">
        REC_REVISOR,
      </if>
      <if test="recRevisorTime != null">
        REC_REVISOR_TIME,
      </if>
        VERSION,
      <if test="transferTypeCode != null">
        TRANSFER_TYPE_CODE,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="targetPort != null">
        TARGET_PORT,
      </if>
      <if test="currentPosition != null">
        CURRENT_POSITION,
      </if>
      <if test="carNo != null">
        CAR_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="statu != null">
        #{statu,jdbcType=VARCHAR},
      </if>
      sysdate,
      <if test="recCreator != null">
        #{recCreator,jdbcType=VARCHAR},
      </if>
      <if test="recRevisor != null">
        #{recRevisor,jdbcType=VARCHAR},
      </if>
      <if test="recRevisorTime != null">
        #{recRevisorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="1 == 1">
         1,
      </if>
      <if test="transferTypeCode != null">
        #{transferTypeCode,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetPort != null">
        #{targetPort,jdbcType=VARCHAR},
      </if>
      <if test="currentPosition != null">
        #{currentPosition,jdbcType=VARCHAR},
      </if>
      <if test="carNo != null">
        #{carNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.RuiLing.TMS.entity.TEnteringFactoryApply">
    <!--@mbg.generated-->
    update T_ENTERING_FACTORY_APPLY
    <set>
      <if test="no != null">
        "NO" = #{no,jdbcType=VARCHAR},
      </if>
      <if test="statu != null">
        STATU = #{statu,jdbcType=VARCHAR},
      </if>
      <if test="recCreateTime != null">
        REC_CREATE_TIME = #{recCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recCreator != null">
        REC_CREATOR = #{recCreator,jdbcType=VARCHAR},
      </if>
      <if test="recRevisor != null">
        REC_REVISOR = #{recRevisor,jdbcType=VARCHAR},
      </if>
      REC_REVISOR_TIME =  sysdate,
      <if test="1 == 1">
        VERSION =VERSION + 1,
      </if>
      <if test="transferTypeCode != null">
        TRANSFER_TYPE_CODE = #{transferTypeCode,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetPort != null">
        TARGET_PORT = #{targetPort,jdbcType=VARCHAR},
      </if>
      <if test="currentPosition != null">
        CURRENT_POSITION = #{currentPosition,jdbcType=VARCHAR},
      </if>
      <if test="carNo != null">
        CAR_NO = #{carNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.RuiLing.TMS.entity.TEnteringFactoryApply">
    <!--@mbg.generated-->
    update T_ENTERING_FACTORY_APPLY
    set "NO" = #{no,jdbcType=VARCHAR},
      STATU = #{statu,jdbcType=VARCHAR},
      REC_CREATE_TIME = #{recCreateTime,jdbcType=TIMESTAMP},
      REC_CREATOR = #{recCreator,jdbcType=VARCHAR},
      REC_REVISOR = #{recRevisor,jdbcType=VARCHAR},
      REC_REVISOR_TIME = #{recRevisorTime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      TRANSFER_TYPE_CODE = #{transferTypeCode,jdbcType=DECIMAL},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      TARGET_PORT = #{targetPort,jdbcType=VARCHAR},
      CURRENT_POSITION = #{currentPosition,jdbcType=VARCHAR},
      CAR_NO = #{carNo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="applyMsgSelect" parameterType="com.RuiLing.TMS.vo.EnteringApplyVo" resultType="java.util.LinkedHashMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from T_ENTERING_FACTORY_APPLY
    where 1 = 1
    <if test="no != null and no != ''">
      AND NO = #{no,jdbcType=VARCHAR},
    </if>
    <if test="statu != null">
      STATU = #{statu,jdbcType=VARCHAR},
    </if>
    <if test="transferTypeCode != null">
      TRANSFER_TYPE_CODE = #{transferTypeCode,jdbcType=VARCHAR},
    </if>
    <if test="recCreateTime != null">
      REC_CREATE_TIME = #{recCreateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="recCreator != null">
      REC_CREATOR = #{recCreator,jdbcType=VARCHAR},
    </if>
    <if test="recRevisor != null">
      REC_REVISOR = #{recRevisor,jdbcType=VARCHAR},
    </if>
    <if test="recRevisorTime != null">
      REC_REVISOR_TIME = #{recRevisorTime,jdbcType=TIMESTAMP},
    </if>
    <if test="version != null">
      VERSION = #{version,jdbcType=VARCHAR},
    </if>
    <if test="startTime != null">
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
    </if>
    <if test="targetPort != null">
      TARGET_PORT = #{targetPort,jdbcType=VARCHAR},
    </if>
    <if test="currentPosition != null">
      CURRENT_POSITION = #{currentPosition,jdbcType=VARCHAR},
    </if>
    <if test="carNo != null">
      CAR_NO = #{carNo,jdbcType=VARCHAR},
    </if>
  </select>

  <delete id="deleteApplyMsg">
    DELETE FROM T_ENTERING_FACTORY_APPLY
    WHERE ID IN
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id,jdbcType=BIGINT}
    </foreach>
  </delete>
</mapper>